{% extends "admin_doc/model_detail.html" %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
	&rsaquo; <a href="{% url 'django-admindocs-docroot' %}">{% trans 'Documentation' %}</a>
	&rsaquo; <a href="{% url 'django-admindocs-models-index' %}">{% trans 'Models' %}</a>
	&rsaquo; <a href="{% url 'django-admindocs-models-detail' app_label model_name %}">{{ name }}</a>
	&rsaquo; {{ name }} - {{ field_name }}</a>
</div>
{% endblock %}

{% block title %}{% blocktrans %}State Machine: {{ name }} - {{ field_name }}{% endblocktrans %}{% endblock %}

{% block content %}
<div id="content-main">
<h1>{{ name }} - {{ field_name }}</h1>
<h2 class="subhead">{% trans 'State machine' %}</h2>

<div id="graph-container" style="height: 640px; width: 640px"></div>
<script src="{% static "django_states/cytoscape.min.js" %}"></script>
<script src="{% static "django_states/dagre.min.js" %}"></script>

<script>
	var cy = cytoscape({
		container: document.getElementById('graph-container'),
		elements:  {{ graph_elements }},
		layout: {name: 'dagre'},
		style: [
			{
				selector: 'node',
				css: {
					'content': 'data(id)',
					'text-valign': 'center',
					'text-halign': 'center'
				}
			},
			{
				selector: 'edge',
				css: {
					'target-arrow-shape': 'triangle'
				}
			}
		]
	})

</script>
{% endblock %}
